<!DOCTYPE html>
<html>
  <head>
    <title>React App</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'home-bundle' %>
    <%= stylesheet_pack_tag 'home-bundle' %>
  </head>

  <body style="margin: 0; height: 100vh; width: 100vw">
    <%= yield %>
  </body>
</html>
